.pizza-card {
    border-radius: 20px;
    transition: transform 0.4s ease;
    background-color: navajowhite; /* Light background for contrast */
  }
  
  .pizza-card:hover {
    transform: translateY(-5px);
  }
  
  .pizza-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    height: 200px;
    width: 100%;
  }

  .carousel img {
    max-height: 500px;
    object-fit: cover;
    border-radius: 60px;
  }
  
  
  @media (max-width: 576px) {
    .pizza-img {
      height: 180px;
    }
    .pizza-card {
      margin: 0 10px;
    }
  }
  