.custom-navbar {
  font-family: 'Poppins', sans-serif;
  padding: 0.75rem 1rem;
}

.custom-navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.nav-items .nav-link {
  color: #fff !important;
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.nav-items .nav-link:hover {
  color: #feffce !important;
}

.navbar-brand {
  font-weight: bold;
  color: #fff25f !important;
  font-size: 1.5rem;
}

@media (max-width: 991px) {
  .nav-items {
    text-align: center;
    margin-top: 1rem;
  }

  .nav-items .nav-link {
    margin: 0.5rem 0;
  }
}