

body{
  height: 250vh;
  background-image: url("./assets/black-bg.jpg");
  background-size: cover;
  color: antiquewhite;
  overflow-x: hidden;
}

body ::before{
  
  top: 0;
  left: 0;
  filter: blur(8px);
  z-index: -1;
}